.MainContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  padding-top: 2rem;
  align-items: center;
}

.Line {
  width: 77%;
  height: 0.125rem;
  margin: 2.5rem 0.063rem 1.813rem 0;
  border: solid 1px var(--dark-white);
}
