@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap');

/* CSS variables */
:root {
  --azure: #0290ff;
  --opaque-azure: #4386bf;
  --dark-white: #e8e8e8;
  --white-color: #fff;
  --black-color: #121212; 
  --main-font: 'Montserrat', sans-serif;
  --second-font: 'Roboto Slab', serif;
}

body {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/** { border: 1px solid black; }*/
