/* CSS variables */
:root {
  --azure: #0290ff;
  --opaque-azure: #4386bf;
  --white-color: #fff;
  --black-color: #121212; 
  --main-font: 'Monserrat', sans-serif;
  --second-font: 'RobotoSlab', sans-serif;
}

body {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
